study_data/analysis_data/input/simulation/times/times.npy
study_data/analysis_data/input/simulation/cells/cells.npy
study_theorem/study_theorem/input/all_times/all*
study_theorem/study_theorem/input/all_cells/all*
study_malthus_estimation_simulation/input/all_times/all*
study_malthus_estimation_simulation/input/all_cells/all*